body {
    background-color: rgb(206, 198, 166);
}

.content {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    flex-shrink: auto;
}

.container {
  justify-content: center;
  align-items: center;
}

.cell {
    display: flex;
    flex: auto;
    flex-shrink: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 10px;
    min-height: 10px;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    margin-right: 2px;
}