body {
    background-color: rgb(206, 198, 166);
    display: flex;
    flex-flow: column wrap;
}

.title {
    border: 2px double black;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 800;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    flex-shrink: auto;
}

.container {
  justify-content: center;
  align-items: center;
}

.cell {
    display: flex;
    flex: auto;
    flex-shrink: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 10px;
    min-height: 10px;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    margin-right: 2px;
}