body {
    background-color: rgb(206, 198, 166);
    display: flex;
    flex-flow: column wrap;
    flex: auto;
    flex-shrink: auto;
    min-height: 100vh;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
}

.content {
    display: block;
    margin: auto;
    width: 800px;
    height: 800px;
    background: white;
    border-radius: 10px;
    font-size: 0;
    border-color: cornsilk;
}

.title {
    border: 2px double black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 800;
}

.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 10px;
}

.clicker {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 40px;
    width: 250px;
    font-size: 18px;
    font-weight: lighter;
    border: 2px solid black;
}

.container {
    display: block;
    margin: auto;
    width: 800px;
    height: 800px;
    background: white;
    border-radius: 10px;
    font-size: 0;
    border-color: cornsilk;
}

.cell {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: cornsilk;
    font-size: 18px;
    margin-top: 30px;
}